/* Главная */
body{
    background-color:rgba(241, 241, 241, 1);
}
.fics{
    top: 0;
    left: 0;
    position: fixed; /*ЧТобы меню было зафиксировано и всегла с нами */
    width: 100%;
}
.first{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    width: 100;
    height: 64px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}
.first a{
    margin-left:32px;
    margin-top:10px;
}
.select{
    color:rgb(190, 81, 22);
}
.frame{
    /* margin-left:1176px; */
    /* align-items: center; */
    margin-top:8px;
    margin-right:32px;
    width: 232px;
    height: 48px;
    display: flex;
    gap:32px;

}
#menu{
    height: 40px;
    background-color: rgba(250, 250, 250, 1); 

}
#menu nav{
    float: left;
    display: flex;
    margin-left:32px;
    gap:32px;
    /* background-color: red; */
}
a:hover{
    color:rgb(77, 190, 239);
}
.aboutMe{
    display: flex;
    margin-top: 106px;
    margin-left: 32px;
}

.txtme{
    height: 632px;
    width: 1080px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 1);
}
.img1{
    height: 424px;
    width: 1016px;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}
.txtme p{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin-left: 32px;
    line-height:2;
}
.txtme h1{
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    Color:rgba(80, 80, 80, 1);
}
.myphoto{
    height: 132px;
    width: 132px;
    border-radius: 50%;
    overflow: hidden;
    
}
.divmyphoto{
    height: 296px;
    width: 264px;
    background-color: rgba(255, 255, 255, 1);
    /* float: right;
    display: block; */
    margin-left: 50px;
    /* display: inline-block; */
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    text-align: center;
    padding-top: 15px;
}
.divmyphoto p{
    padding-top: -25px;
}
.divmyphoto p:nth-child(3){
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color: rgba(143, 143, 143, 1);
    top: 0px;
}
.cont{
    height: 20px;
    width: 76px;
}
.navig{
    margin-top: 82px;
}
#iconbs{
    color:rgba(80, 80, 80, 1);
}
@media(max-width:1000px){
    .txtme{
        height: 780px;
        width: 580px;
        /* float: left;
        display: block; */
        margin-left: 30px;
        background-color: rgba(255, 255, 255, 1);
    }
    .img1{
        height: 424px;
        width: 516px;
        margin-top: 10px;
    }
    .divmyphoto{
        height: 296px;
        width: 204px;
    }
    .navig{
        width: 204px;
    }
    .txtme h1{
        font-size:20px;
    }
    .divmyphoto p{
        font-size:12px;
    }
    .aboutMe{
        margin-left: 5px;
    }
}

@media(max-width:400px){
    .txtme{
        height: 780px;
        width: 200px;
        /* float: left;
        display: block; */
        margin-left: 0px;
        background-color: rgba(255, 255, 255, 1);
    }
    .img1{
        height: 424px;
        width: 200px;
    }
    .divmyphoto{
        height: 120px;
        width: 80px;
    }
    .navig{
        width: 80px;
    }
    .txtme h1{
        font-size:20px;
    }
    .divmyphoto p{
        font-size:12px;
    }
    .aboutMe{
        margin-left: 0px;
    }
}
/* Конец главной */




/* Страница карты */
.topdiv{
    display: flex;
    height: 56px;
    width: 1376px;
}
.framemap{
    display: inline;
    margin-left: 1180px;
    margin-top: 10px;
}
.topmap{

    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color: rgba(80, 80, 80, 1);
    display: flex;
    align-items: center;
    margin-left: 32px;
}
#map{
    height: 480px;
    width: 1312px;
}
.contmap{
    display: flex;
    align-items: center; 
    margin-left: 32px;
}
.conmap{
    height: 568px;
    width: 1376px;
    background-color:rgba(255, 255, 255, 1);
    margin-block-end:30px;
    top: 150px;
} 
#preloader {
    position: fixed;
    top: 150px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #cccccc;
    border-top-color: #1a1a1a;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  } 
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media(max-width:1000px){
    #map{
        height: 480px;
        width: 782px;
    }
    .framemap{
        margin-left: 610px;

    }
}

@media(max-width:400px){
    #map{
        height: 480px;
        width: 300px;
    }
    .framemap{
        margin-left: 200px;

    }
}

/* Конец страницы карты */


.fade-out{
    opacity: 0;
    visibility: hidden;
}

.loading-overlay{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 0.5s;
    opacity: 1;
}